@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
html,body{
  margin:0;
  height:120%;
  font-family: 'Josefin Sans', sans-serif;
}

*{
    box-sizing: border-box;
}

body {
    background-color: #222831;
    padding: 20px;
}
  
  /* Center website */
.main {
    max-width: 1000px;
    margin: auto;
    color: #eeeeee;
}
  
.h1 {
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #00adb5;
    font-size: 40px;
    word-break: break-all;
    text-align: center;
    padding: 10px;
}
  
.row {
    margin: 8px -16px;
}
  
  /* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}
  
  /* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
}
  
  /* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
  /* Content */
.content {
    background-color: #393e46;
    padding: 10px;
}
  
  /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
}
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}

/* Isi */
/* Meentingkan mobile terlebih dahulu */

/* Mobile device */
.link1{
    color: #eeeeee;
}
.myimg{
    width: 150px;
    object-fit:cover;
    border-radius:50%;
    border: 5px solid #eeeeee;
}

.section-atas{
    background: #393e46;
    padding: 20px;
    text-align: center;
    align-content: center;
}

.section-bawah{
    background: #393e46;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    justify-content: start;
}
.h2{
    font-family: 'Open Sans';
    text-align: center;
    background-color: #00adb5;
    padding: 5px;
    color: #222831;
}

.site-footer [class^=col-]
  {
    margin-bottom:30px
  }

/* tampilan tablet antara 768pc sampai 992px*/
@media(min-width: 768px) and (max-width: 992px){
    .section-atas{
        text-align: center;
    }

    .site-footer{
        padding-bottom:0
    }
    .site-footer
    {
        text-align:center
    }
}

/* Desktop device */
/* CSS cuma ngena diatas 768 */
@media(min-width: 992px){

    .section-bawah{
        display: flex;
        justify-content: center;
    }
}

.RP{
    list-style-type: decimal;
}
.PO{
    list-style: circle;
}



/* --------------------------------------------- */
.site-footer
{
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  text-align: center;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}

.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
}
.copyright-text
{
  margin:0
}